<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a mew post</title>
    <link rel="stylesheet" href="/new.css" />
  </head>
  <body>
    <h1>Create a new account</h1>

    <div class="main">
      <h4>Enter Your Name</h4>
      <form action="/instagram" method="post">
        <input
          type="text"
          class="inp"
          placeholder="Enter your name"
          name="username" />
        <br />
        <h4 class="cont">Creat content</h4>
        <textarea
          name="content"
          cols="40px"
          rows="20px"
          class="text"></textarea>
        <br />
        <button class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
