<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/show.css" />
    <title>Post details</title>
  </head>
  <body>
    <h1 class="heading">See your post details</h1>
    <div class="first_div">
      <h3 class="user">Username: @<%= post.username %></h3>
      <h4 class="id">ID : <%= post.id %></h4>
      <div class="sec_div">
        <p class="cont">Content: <%= post.content %></p>
      </div>
    </div>
  </body>
</html>
