
.main {
  margin: 0 auto;
  height: 550px;
  width: 500px;
  border: 2px solid red;
}

.inp{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 160px;
}
h4{
    margin-left: 185px;
}
.cont{
    margin-left: 195px;
}
.text{
    margin-left: 90px;
}
.btn{
    margin-top: 10px;
    margin-left: 220px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
